<% include ../partials/header %>

<% include ../partials/nav %>
<div class="container">
	<div id ="container">
	</div>
</div>

<script>
$( function() {
  
  

  var $container = $('#container');
  // hide initial items
  var $initialItems = $container.find('.item').hide();
  
  var $container = $container.masonry({
      // layout no items initially
      itemSelector: 'no-items',
      columnWidth: 200
    })
    // set proper itemSelector
    .masonry( 'option', { itemSelector: '.item' })
    .masonryImagesReveal( $initialItems );

     var $items = getItems();
     

     $container.masonryImagesReveal( $items );
  
});

// reveals all items after all item images
// have been loaded
$.fn.masonryImagesReveal = function( $items ) {
  var msnry = this.data('masonry');
  var itemSelector = msnry.options.itemSelector;
  // hide by default
  $items.hide();
  // append to container

  this.append( $items );
   $('img').error(function(){
        $(this).attr('src', 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSjGEgnoZvE9D011AijXGmSMV_EA-EetyVAMrFy0cSCDqzD266grA');
  });


  $items.imagesLoaded( function() {
    // un-hide items
    $items.show();
    // reveal all of them
    
    msnry.appended( $items );
  });
  
  return this;
};


// function getItem(fail) {
//   var width = randomInt( 150, 400 );
//   var height = randomInt( 150, 250 );
//   var item = '<div class="item thumbnail">'+
//     '<img src="http://lorempixel.com/' + 
//       width + '/' + height + '/nature" /><div class="caption text-center"><p>KOKOKOKOKO</p></div></div>';
//   return item;
// }


function getItems() {
  var items = '';

  
  <% fails.forEach( (fail) => { %>
              
  	   items += `<div class="item thumbnail">
       				        <img src="<%- fail.image %>" onerror=""/>
                      <div class="caption text-center">
                         <p><%-fail.description %></p>
                    
                      <span>By<a href="/fails/<%- fail.user.id%>"> <%- fail.user.fullname %></a></span>

                      <% if (currentUser && String(currentUser._id) == String(fail.user.id)) { %>
                      <form id="delete-form" action="/fails/<%= fail._id %>?_method=DELETE" method="POST">
                         <input  type="submit" class="btn btn-sm btn-danger" value="Remove">
                      </form>
                      <% } %>
                        </div>
                </div>'`

  <% }) %>
  // return jQuery object
 

  
  return $( items );


}




</script>
<% include ../partials/footer %>
